/*Général*/
body {
    font-family: 'lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 65px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2 {
    text-transform: uppercase;
}

.divider {
    width: 100px;
    height: 2px;
    background-color: #EF9CDA;
    margin: 0 auto 20px;
}

/*NAVBAR*/
.navbar {
    background-color: #EF9CDA !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.navbar-nav {
    margin: 0 auto;
    text-align: center;
}

.nav-link {
    color: white;
    margin-right: 40px;
    font-size: 22px;
}

.nav-link.active,
.nav-link:hover {
    background-color: white;
    color: #141B41 !important;
}



.mail {
    font-size: 35px;
    color: #141B41;
    text-transform: none;
    cursor: pointer;
}



@keyframes myrotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mail:hover {

    animation: myrotate 1.5s forwards;
    color: #141B41;


}

/*About*/
#about {
    background-color: #EF9CDA;
}

.profile-picture {
    text-align: center;
    margin: 0px auto 30px;
}



#about .heading h1 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button1 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 18px 50px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease-in 0s;
}


.button1:hover {
    background: white;
    color: #141B41;
}

/*SKILLS*/
#skills .heading h2 {
    color: #141B41;

}

#skills .progress {
    height: 60px;
    margin: 30px 20px;
}

#skills .progress {
    margin-bottom: 0px;
}

#skills .progress-bar {
    background-color: #141B41;
    white-space: normal;
}

#skills .progress-bar h5 {
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 3px;
}

/*Education*/
#education .heading h2 {
    color: #141B41;
    margin: 15px 0px;
}

.education-bloc {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.education-bloc h5 {
    /*color: #888;*/
    color: #EBEBD3;
    font-size: 15px;
}

.education-bloc span {
    font-size: 35px;
}

.education-bloc h3 {
    color: #EF9CDA;
    margin: 15px 0px;
}

.education-bloc h4 {
    margin-bottom: 20px;
    font-weight: normal;
}

/*portfolio*/
#portfolio {
    background-color: #EF9CDA;
}

#portfolio .heading h2 {
    color: #141B41;
}

#portfolio img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#portfolio img:hover {
    filter: none;
    -webkit-filter: none;
}

#portfolio .col-lg-6 {
    margin-bottom: 20px;
}



/*Coordonnées*/
.divider.white {
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 0 auto 20px;
}

#coordonnées {
    background-color: #EF9CDA;
}

#coordonnées .heading {
    color: #141B41;
}

#MyCarousel .carousel-item {
    padding: 30px 30px 90px;
}

#MyCarousel .carousel-item h3 {
    font-style: italic;

}

/*Contact*/
#contact .heading {
    color: #141B41;
}

#form {
    font-size: 25px;
    background: #141B41;
    padding: 40px;
    border-radius: 0 0 250px 0;
    color: #EF9CDA;
}

.errors {
    padding: 5px;
    color: #A06B9A;
}

input {
    border-radius: 25px;
}

#submit {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f7e6df;
    color: #141B41;
    border: 1px solid #141B41;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1rem;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease;
}

#submit:hover {
    background-color: #EF9CDA;
    color: #ffffff;
}

/*Footer*/
footer {
    background-color: #333;
    padding: 20px 0 40px;
}

footer span {
    color: #EF9CDA;
    font-size: 25px;
    line-height: 35px;

}

footer span:hover {
    font-size: 30px;
}

footer h5 {
    color: white;
    font-weight: normal;
}